<div class="titulo">
    <h1>Todo List</h1>
</div>

<div class="search">
    <input placeholder="Digite sua tarefa...." (keyup.enter)="addTodo()" type="text" name="" id="" [(ngModel)]="title"
        autofocus class="form-control shadow-none">
    <button (click)="addTodo()" class="btn btn-primary">Adicionar</button>
    <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-danger">Limpar Tarefas</button>
</div>

<div class="showTodo mt-5">
    <table class="table table-striped" *ngIf="todos.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Feito</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ todo.title }}</td>
                <td><input type="checkbox" name="" id="" (change)="setDone($event, todo.id)" [checked]="todo.done"></td>
                <td><i (click)="deleteIndividualTodo(todo.id, todo.title)" class="ph-bold ph-trash"></i></td>
            </tr>
        </tbody>
    </table>
    <!-- <ul>
        <li> <input type="checkbox" name="" id="">
        </li>
    </ul> -->
</div>


<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="clearTodo()"
                    data-bs-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>
